.footer {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin-top: 40px;
}

.mainFooter {
	text-align: center;
	padding: 1rem;
	color: black;
	margin-top: 1.5rem;
}

.Row {
	display: flex;
	flex-direction: row;
}

.Column {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.footer h1 {
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.footer a {
	color: black;
	margin-bottom: 10px;
}

.footer a:hover {
	text-decoration: underline !important;
	color: black;
}

@media only screen and (max-width: 1080px) {
	.Row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
